.profile__banner {
  *min-height: 250px;
  margin-bottom: 30px;
  padding: 0 !important;
  position: relative;
  width: 100% !important;
  // outline: 1px dotted red;
  @media #{$medium-up} {
    padding: 20px;
  }

  .button {
    margin: 0;
  }

  & > div {
    vertical-align: top;
  }

  &-image {
    width: 100% !important;
    max-width: 500px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 2px 1px rgba($black, 0.15);

    &::after {
      display: block;
      content: "";
      padding-top: 100%;
    }
  }

  &-text {
    margin-top: 20px;

    .description {
      text-align: justify !important;
    }
  }

  &.loader &-text {
    overflow: hidden;
  }
}

.shows {
  display: flex;
  flex-wrap: wrap !important;
  flex-flow: row !important;
  width: 100% !important;
  margin-top: em(30);
  margin: 0 !important;

  @media (max-width: em(1270)) {
    flex-flow: column !important;
  }

  &-detail {
    width: 40% !important;
    margin-right: em(20);
    @media (max-width: em(1270)) {
      width: 100% !important;
    }
  }
  &__body {
    width: 57% !important;
    @media (max-width: em(1270)) {
      width: 100% !important;
    }
  }
}

.below {
  display: flex;

  #subscriber {
    margin-left: 10px;
    background-color: transparent;
    color: $grey;
    font-size: em(20);
    text-shadow: 1px 1px 0px #bbb;
    transition: color 1s;
    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
    }

    &.subscribed {
      color: $red;
    }

    i {
      position: relative;
      top: -5px;
      margin-right: 0;
    }
  }
}
