.station__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  position: relative;
  -ms-flex-preferred-size: 100% !important;
  flex-basis: 100%;
  width: 100% !important;
  margin-top: em(15);

  &-text {
    margin-top: 20px;
    *text-align: center;
  }

  &.loader &-text {
    overflow: hidden;
  }

  @media (max-width: em(1216)) {
    flex-wrap: wrap;
  }
  @media (max-width: 860px) {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
  .description {
    text-align: justify;

    @media (max-width: 411px) {
      padding: 5px !important;
    }
  }
  @media #{$medium-up} {
    padding: 20px;
  }
  .button {
    margin: 0;
  }
  & > div {
    vertical-align: top;
  }
  &-image {
    min-width: 250px !important;
    height: 100% !important;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 2px 1px rgba(45, 45, 45, 0.15);
    margin-right: 30px;
    &::after {
      display: block;
      content: "";
      padding-top: 100% !important;
      padding-bottom: 0 !important;
    }
    @media #{$large-up} {
      width: 10% !important;
    }
  }

  .station__banner-text {
    height: auto;
    h4 {
      font-size: 20px;
    }
    p {
      padding: 0 !important;
      letter-spacing: 0 !important;
    }

    button {
      margin-bottom: em(30);
    }
  }
}
