.card {
  flex-basis: 50%;
  max-width: 50%;
  border-radius: 5px;
  margin-bottom: 25px;
  -webkit-margin-bottom-collapse: collapse; //64.000em 85.375em
  @media #{$medium-up} {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }
  @media screen and (min-width: 77.5em) {
    flex-basis: 25%;
    max-width: 25%;
  }
  @media screen and (min-width: 113.75em) {
    flex-basis: 16.6666%;
    max-width: 16.6666%;
  }
  &__container {
    border-radius: inherit;
    margin: 10px 15px 0px;
  }
  &__image {
    cursor: pointer;
    border-radius: inherit;
    overflow: visible;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $smoke;
    // box-shadow: 0 0 2px 1px rgba($black, 0.15);
    &::after {
      display: block;
      content: "";
      padding-bottom: 100%;
    }
    &:hover .card__actions {
      opacity: 0.99;
      cursor: pointer;
    }
  }
  &__actions {
    position: absolute;
    border-radius: inherit;
    opacity: 1;
    width: 100%;
    text-align: center;
    background-color: rgba($black, 0);
    height: 100%;
    transition: opacity 0.2s;
  }
  &__action {
    $action: &;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 1.8em;
    position: relative;
    color: rgba($red, 1);
    border-radius: 100%;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    cursor: pointer;
    width: 20% !important;
    min-width: 30px;
    margin-right: 5px;
    background-color: $white;
    box-shadow: 0 0 2px 1px rgba(45, 45, 45, 0.15);
    &__subscribe {
      margin-right: 10px;
      color: $grey;
      min-width: 20px;
    }
    &__unsubscribe {
      color: rgba($red, 1);
      margin-right: 10px;
    }
    &--small {
      font-size: 1.3em;
      #{$action}-icon {
      }
    }
    &::after {
      display: block;
      content: "";
      padding-top: 100%;
    }
    &-icon {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 2px;
      left: 1px;
      margin: 25%;
    }
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -57.5%);
      text-shadow: 1px 1px 0px #bbb;
    }
    &--adjust-right {
      i {
        transform: translate(-47%, -58%) !important;
      }
    }
  }
  &__menu {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
  }
  &__details {
    margin-top: 10px;
    p {
      text-align: start;
      line-height: 1.5;
      margin: 0;
      font-size: 1em;
      text-transform: capitalize;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__station {
    font-size: 0.9em !important;
  }
  &__tag {
    display: inline-block;
    background: #bf0d3e !important;
    color: #fff;
    padding: 4px 5px;
    margin: 0px 2px !important;
    line-height: 1;
    font-size: 0.6em !important;
    border: 0;
    border-radius: 3px;
  }
  &__title {
    color: $black;
    &:hover {
      text-decoration: underline;
    }
  }
  &__container-front {
  }
  &__container-back {
  }
  @-moz-document url-prefix() {
    &__action {
      line-height: 57px;
      &--small {
        line-height: 42px;
      }
    }
  }
}
