.media-card {
  $image-width: 35px;
  margin-bottom: 15px;
  @include clearfix();

  &__image {
    border-radius: 5px;
    float: left;
    position: relative;
    border: 1px solid #b9b9b9;

    &:hover {
      cursor: pointer;
      .media-card__action {
        opacity: 1;
      }
    }

    img {
      border-radius: 5px;
      width: $image-width;
      height: $image-width;
    }
  }

  &__action {
    transition: opacity 0.2s;
    position: absolute; // background-color: rgba($black, 0.25);
    height: 100%;
    opacity: 0;
    top: -10px;
    z-index: 200;
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: $red;
  }

  &__details {
    width: 100%;
    padding-left: $image-width + 10px;

    p:not(.media-card__headline) {
      line-height: 1;
      font-size: 0.8em;
      max-height: 1em;
      margin-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  &__headline {
    line-height: 1.1 !important;
    font-size: 0.9em !important;
    max-height: 2em !important;
    overflow: hidden;
    color: #2d2d2d;
    margin-bottom: 6px !important;
    cursor: pointer;
    &:hover {
      color: $red;
    }
  }
}
