@import "../common/_em.scss";
.header {
  *box-shadow: 0 0 2px rgba($black, 1);
  height: $header-height;
  position: fixed;
  display: flex;
  align-items: center !important;
  border-bottom: 1px solid $smoke;

  justify-content: center !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  @include clearfix();
  background-color: white;

  @media #{$medium-up} {
    border-bottom: 1px solid $smoke;
    box-shadow: unset;
  }

  &__controls {
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
    padding: 0 15px;

    @media #{$medium-up} {
      min-width: $sidebar-width-xlarge;
      padding: 0 40px;
    }

    button {
      margin-right: 0;
      background-color: transparent !important;
      color: $red !important;
      padding: 0;
      position: relative;
      font-size: 1.5em !important;
      top: -6px;

      &.radio {
        top: -4px;
        font-size: 1.275em !important;
      }

      &.menu {
        top: -3px;
      }

      i {
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        margin-right: 0;
        text-align: right;
      }
    }
  }

  .logo {
    width: 20%;
    min-width: 35px;
    padding: 0 15px;
    height: auto;
    img {
      height: 25px;
    }

    @media #{$medium-up} {
      width: initial;
      min-width: $sidebar-width-large;
      padding: 0 40px;
    }
  }

  * {
    height: inherit;
  }

  &__inner {
    height: 100%;
  }

  &__container {
    height: inherit;
    position: relative;
  }

  button {
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__logo {
    padding: 10px;
    img {
      height: 100%;
      width: auto;
      min-width: 50px;
    }

    @media #{$medium} {
      padding: 10px;
      img {
        height: 100%;
        width: auto;
      }
    }
  }

  &__search {
    padding: 5px;

    &.mobile {
      padding-top: 5px;
      padding-right: 0;
      padding-left: 0.9375rem;
    }

    .input-group {
      height: 100%;
      padding-top: 10px;

      input {
        border: 1px solid $accent;
        height: 100%;
        box-shadow: none;
      }
    }
  }

  &__search-close {
    text-align: center;
    padding: 0;
    span {
      font-size: 1.8em;
      color: $red;
      cursor: pointer;
    }
  }

  .nav {
    margin-bottom: 0;
    height: calc(100% - 85px);
    overflow-y: auto;

    &__item {
      background: $yellow;
      *border-left: 1px solid $accent;
      margin-left: 0;
      padding: 0 15px;
      float: right;
      display: block;
      height: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media #{$medium} {
        border-left: none;
      }

      &:hover {
        background: darken($yellow, 5%);
      }

      a {
        color: $red;
        font-size: 1.8em !important;
      }

      & > span {
        font-size: 1.9em;
        color: $red;
        line-height: 1.45;
      }
    }

    &__item-text {
      font-size: 0.5em !important;
      display: none;
      margin-left: 8px;
      vertical-align: middle;
      line-height: 3.2;

      @media #{$large} {
        display: inline-block;
      }
    }
  }
}
