.notification-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: visible;
  z-index: 300000;
  width: 100%;

  @media #{$medium-up} {
    width: 300px;
    bottom: initial;
    left: initial;
    top: 10px;
    right: 25px;
  }
}

.notification {
  width: 100%;
  background-color: #fff;
  box-shadow: $container-card-shadow;
  padding: 5px 10px;
  border: 1px solid transparent;
  color: $white;

  @media #{$medium-up} {
    margin-bottom: 5px;
    color: inherit;
  }

  &--success {
    background-color: #333;

    @media #{$medium-up} {
      background-color: $white;
      border: 0px solid #888;
      border-left: 2px solid #888;
      border-right: 2px solid #888;
    }
  }

  &--failed {
    background-color: $red;

    @media #{$medium-up} {
      background-color: $white;
      border: 0px solid $red;
      border-left: 2px solid $red;
      border-right: 2px solid $red;
    }
  }

  &__content {
    margin-bottom: 0px;
    font-size: 0.85rem;
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
