$plyr-seek-initial-height: 4px;
$plyr-seek-hover-height: 7px;

.player {
  $player-image-width: $player-height - 70px;
  width: 100%;
  z-index: 5000;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: $white;
  height: $player-height;
  display: flex;
  flex-flow: column-reverse nowrap;
  transform: translateY(0);
  transition: transform 0.25s;

  &--hidden {
    transform: translateY(120%);
  }

  &__panel {
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 10px 30px 0;
    @include clearfix;
  }

  &__image {
    display: inline-block;
    width: $player-image-width;
    height: $player-image-width;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__details {
    position: relative;
    padding-left: 10px;
    display: inline-block;
    height: 100%;
    p {
      margin-bottom: 0px;
      line-height: 0;
      display: inline;
      font-size: 0.8em;
      display: inline-block;
      vertical-align: sub;
      margin-right: 5px;

      &:first-of-type {
        font-size: 1em;
        font-weight: 900;
      }
    }
  }

  &__seek-wrapper {
    position: relative;
    height: 10px;
  }

  &__seek {
    position: absolute;
    width: 70%;
    bottom: 0px;
    height: 10px;
    background-color: #ddd;
    *border-radius: 20px;

    &-inner {
      width: 50%;
      height: 100%;
      background-color: $red;
    }
  }

  &__controls {
    width: 100%;
    padding-top: 5px;
    font-size: 2em;
    text-align: center;
    line-height: 1;
    height: 50%;

    .zmdi {
      width: 25%;
      &:not(:last-of-type) {
      }
      color: #aaa;
      &:hover {
        color: $red;
        cursor: pointer;
      }
    }
  }

  @media #{$medium-up} {
    $player-image-width: $player-height - 40px;
    padding: 20px 20px 20px 40px;
    background-color: $white;
    height: $player-height;
    flex-flow: initial;

    &__panel {
      width: 100%;
      padding: initial;
      @include clearfix;
    }

    &__image {
      display: initial;
      float: left;
      width: $player-image-width;
      height: $player-image-width;
    }

    &__details {
      display: block;
      text-align: initial;
      height: 50%;
      padding-top: 10px;
      padding-left: $player-image-width + 20px;
      p {
        margin-bottom: 5px;
        display: block;
        font-size: 0.8em;
        vertical-align: initial;
        line-height: 1;
        margin-right: 0;

        &:first-of-type {
          margin-bottom: 10px;
          font-weight: 900;
          font-size: 1em;

          &::after {
            display: none;
          }
        }
      }
    }

    &__seek-wrapper {
      position: relative;
      height: 10px;
    }

    &__seek {
      position: absolute;
      width: 70%;
      bottom: 0px;
      height: 10px;
      background-color: #ddd;
      *border-radius: 20px;

      &-inner {
        width: 50%;
        height: 100%;
        background-color: $red;
      }
    }

    &__controls {
      padding-top: 8px;
      width: $sidebar-width-large + 200;
      padding-left: 20px;
      font-size: 2.5em;
      text-align: center;
      line-height: 1;

      .zmdi {
        width: 20%;
      }
    }
  }

  @media #{$xlarge-up} {
    &__controls {
      padding-top: 5px;
      padding-left: 35px;
      width: $sidebar-width-xlarge + 150;
      font-size: 3em;
    }
  }
}

/** plyr overrides **/

.plyr {
  position: static;
  min-width: initial;
}

.plyr--audio .plyr__controls {
  padding: 0px;
  border-radius: inherit;
  background: transparent;
  border: none;
  color: #565d64;
}

.plyr__controls {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.plyr__progress {
  position: absolute;
  width: 100%;
}

.plyr__progress--buffer,
.plyr__progress--played,
.plyr__volume--display {
  height: $plyr-seek-initial-height;
}

.plyr__progress:hover .plyr__progress--buffer,
.plyr__progress:hover .plyr__progress--played,
.plyr__volume--display:hover {
  height: $plyr-seek-hover-height;
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
  background: #ccc;
}

.plyr input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: 0 0;
  border: 0;
  border-radius: 0px;
  -webkit-user-select: none;
  user-select: none;
}

.plyr input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background: $red;
  position: relative;
  visibility: hidden;
  background: $red;
  *border: 2px solid transparent;
  transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.plyr input[type="range"]::-moz-range-track {
  height: 8px;
  background: 0 0;
  border: 0;
  border-radius: 0px !important;
  -moz-user-select: none;
  user-select: none;
}

.plyr input[type="range"]::-moz-range-thumb {
  content: "";
  position: relative;
  visibility: hidden;
  border-radius: 100%;
  background: $red;
  border: 2px solid transparent;
  transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.plyr input[type="range"]::-ms-track {
  height: 8px;
  background: 0 0;
  border: 0;
  color: transparent;
}

.plyr input[type="range"]::-ms-fill-upper {
  height: 8px;
  background: 0 0;
  border: 0;
  border-radius: 0px;
  -ms-user-select: none;
  user-select: none;
}

.plyr input[type="range"]::-ms-fill-lower {
  height: 8px;
  border: 0;
  border-radius: 0px;
  -ms-user-select: none;
  user-select: none;
  background: #3498db;
}

.plyr input[type="range"]::-ms-thumb {
  position: relative;
  height: $plyr-seek-initial-height;
  width: 3px;
  background: #fff;
  *border: 2px solid transparent;
  border-radius: 0;
  transition: background 0.2s ease, border 0.2s ease, transform 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  margin-top: 0;
}

.plyr input[type="range"]::-ms-tooltip {
  display: none;
}

.plyr input[type="range"]::-moz-focus-outer {
  border: 0;
}

.plyr input[type="range"].tab-focus:focus {
  outline-offset: 3px;
}

.plyr input[type="range"]:active::-webkit-slider-thumb {
  background: $red;
  border-color: #fff;
  transform: scale(1.25);
}

.plyr input[type="range"]:active::-moz-range-thumb {
  background: $red;
  border-color: #fff;
  transform: scale(1.25);
}

.plyr input[type="range"]:active::-ms-thumb {
  background: $red;
  border-color: #fff;
  transform: scale(1.25);
}

.plyr__progress:hover input[type="range"]::-webkit-slider-thumb {
  *height: $plyr-seek-hover-height !important;
  *width: 5px !important;
  visibility: visible;
}

.plyr__progress:hover input[type="range"]::-moz-range-thumb {
  *height: $plyr-seek-hover-height !important;
  *width: 5px !important;
  visibility: visible;
}

.plyr__progress:hover input[type="range"]::-ms-thumb {
  *height: $plyr-seek-hover-height;
  *width: 5px !important;
}

.plyr__progress--played,
.plyr__volume--display {
  z-index: 1;
  color: #d6101a;
  background: 0 0;
  transition: none;
}
