.playback-list {
  font-family: "Lato", sans-serif;

  &--empty {
    text-align: center;
    p {
      font-size: 1rem;
      margin: 20px 0 0px;
    }
  }
}

.playback {
  border-bottom: 0.5px solid lighten($color: grey, $amount: 30);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%; // outline: 1px solid red;
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  color: #dedede;
  @media (max-width: 450px) {
    padding: 5px !important; // outline: 1px solid red !important;
  }
  .playback__action {
    float: left;
    max-width: 30px;
    *min-width: initial;
    *min-width: 20px;
    font-size: 2.5em;
    border-radius: 3px;
    color: #dedede;
  }

  &__details {
    padding: 10px;
    *text-align: center;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    p {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: -5px;
      color: rgb(105, 105, 105);

      @media (max-width: em(375)) {
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }

  .share-list {
    $mediums: (
      ("fb", $fb-blue) ("tw", $tw-blue) ("ln", $ln-blue) ("gp", $gp-brown)
    );
    margin-bottom: 0;
    li {
      font-size: 1.35rem;
      color: $light-grey;
      cursor: pointer;
      -webkit-transition: color 0.25s;
      transition: color 0.25s;

      @media (max-width: em(375)) {
        font-size: 1.2rem;
        margin-top: 10px;
      }
      @each $medium, $color in $mediums {
        &.#{$medium}-share {
          &:hover {
            color: $color;
          }
        }
      }
    }
  }
  &--loader {
    min-height: 40px;
    // outline: 1px dotted red;
    margin: em(10) 0;
    border-bottom: none;
    animation: filler 1s linear infinite forwards;
    background: #f6f7f9;
    background-image: linear-gradient(
      to right,
      #f6f7f9 0%,
      #e9ebee 20%,
      #f6f7f9 40%,
      #f6f7f9 100%
    );
    background-repeat: no-repeat;
    position: relative;

    &:first-of-type {
      margin-top: 20px;
    }
    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
@keyframes filler {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
