.schedule {
  $day-width: 100px;
  $item-section-padding: 20px;
  $padding: 20px;
  $schedule-max-width: 500px;
  $middle: $padding + $item-section-padding + $day-width;

  padding: $padding;
  width: auto;
  position: relative;
  left: 50%;
  *margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  transform: translate(-70%);

  p {
    margin: 0;
  }

  &::before {
    content: "";
    display: block;
    left: $middle;
    position: absolute;
    height: calc(100% - #{$padding});
    min-height: 100%;
    width: 0px;
    border-right: 1px solid $red;
  }

  &::after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    bottom: 0;
    margin-left: -4px;
    position: absolute;
    left: $middle;
    background: $white;
    border: 2px solid $red;

    border-radius: 100%;
  }

  &__title {
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: $white;
    color: $red;
    *border: 1px solid $red;
    position: relative;
    left: $middle - $padding - 12;

    i {
      font-size: 1.35em;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    margin-bottom: 35px;

    &__day,
    &__time {
      position: relative;
    }

    &__day-inner,
    &__time-inner {
      padding: 5px 10px;
      border-radius: 5px;
      position: relative;

      p {
        width: 100%;
        text-align: center;
        height: 100%;
        *font-size: 1.25em;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
      }
    }

    &__day {
      min-width: 120px;
      max-width: 120px;
      padding-right: $item-section-padding;
      text-align: right;
      &-inner {
        background-color: #eee;
        display: inline-block;
        &::before {
          right: -13px;
          @include css-triangle(7px, #eee, "left");
        }
      }

      p {
        width: 100%;
        text-align: center;
        height: 100%;
        *font-size: 1.25em;
      }
    }

    &__time {
      *flex-basis: 50%;
      padding-left: $item-section-padding;

      &-inner {
        background-color: #eee;
        &::before {
          left: -13px;
          @include css-triangle(7px, #eee, "right");
        }
      }
    }
  }

  /*
    * Make schedule bar horizontal on larger screens
    */
  @media #{$xlarge-up} {
    padding: $padding;
    max-width: initial;
    display: inline-block;
    left: 50%;
    *margin: 0 auto;
    overflow: hidden;
    transform: translate(-50%);

    p {
      margin: 0;
    }

    &::before {
      content: "";
      display: block;
      left: 0;
      top: 80px;
      position: absolute;
      height: 1px;
      width: 100%;
      border: none;
      border-top: 1px solid $red;
    }

    &::after {
      margin-left: -4px;
      bottom: initial;
      left: initial;
      position: absolute;
      background: $white;
      border: 2px solid $red;
      right: 0;
      top: 76px;
      border-radius: 100%;
    }

    &__title {
      width: 25px;
      height: 25px;
      text-align: center;
      background-color: $white;
      color: $red;
      top: 72px;
      *border: 1px solid $red;
      position: absolute;
      left: 0;

      i {
        font-size: 1.35em;
      }
    }

    &__item {
      width: initial;
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      padding: 5px;

      &__day,
      &__time {
        position: relative;
        display: block;
      }

      &__day-inner,
      &__time-inner {
        padding: 5px 10px;
        border-radius: 5px;
        position: relative;

        p {
          width: 100%;
          text-align: center;
          height: 100%;
          *font-size: 1.25em;
        }

        &::before {
          top: initial;
          margin-left: -7px;
        }
      }

      &__day {
        min-width: none;
        max-width: none;
        padding: 0;
        padding-bottom: $item-section-padding;
        text-align: center;
        &-inner {
          background-color: #eee;
          display: inline-block;
          &::before {
            right: initial;
            left: 50%;
            bottom: -13px;
            @include css-triangle(7px, #eee, "top");
          }
        }

        p {
          width: 100%;
          text-align: center;
          height: 100%;
          *font-size: 1.25em;
        }
      }

      &__time {
        padding: 0;
        padding-top: $item-section-padding;

        &-inner {
          background-color: #eee;
          &::before {
            left: 50%;
            top: -13px;
            @include css-triangle(7px, #eee, "bottom");
          }
        }
      }
    }
  }
}
