.search-group {
  padding: 0 !important;
  position: fixed;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border-bottom: 1px solid $smoke;
  background-color: $white;
  height: $header-height;
  z-index: 500;
  left: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 15px !important;

  @media (max-width: em(1024)) {
    width: 100%;
    margin: 0 !important;
  }
  &.open {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    input {
      border: 0px solid $red;

      @media #{$large-up} {
        border: 2px solid $red;
      }

      & ~ button {
        color: $red;
      }

      & ~ button.search-clear {
        display: inline-block;
      }
    }
  }

  @media #{$large-up} {
    padding: 20px 15px;
    top: initial;
    border-bottom: none;
    -webkit-transform: initial;
    transform: initial;
    padding: 0px 15px;
    background: transparent;
    position: relative;
    height: $header-height - 14;
    padding-right: $sidebar-width-xlarge + 15;
  }

  & > * {
    display: inline-block;
    height: 100% !important;
    margin-bottom: 0 !important;
    vertical-align: top;
  }

  input {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    font-size: 1.2em;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
    background-color: #f7f7f7;
    border: 1px solid red;
    border-radius: 4px;

    &::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: lighten($grey, 10%);
    }

    &:-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: lighten($grey, 10%);
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: lighten($grey, 10%);
    }

    &::-webkit-input-placeholder {
      /* Internet Explorer 10-11 */
      color: lighten($grey, 10%);
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: lighten($grey, 10%);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: lighten($grey, 10%);
    }
  }

  button {
    margin-bottom: 0;
    width: 35px !important;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5;
    background-color: transparent;
    color: lighten($grey, 10%);
    position: absolute;
    top: 5px;
    outline: none !important;

    i {
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    &.search-back {
      left: 0;
    }

    &.search-clear {
      right: 0;
    }

    @media #{$large-up} {
      top: 0px;

      &.search-b ack {
        left: 10px;
      }

      &.search-clear {
        display: none;
        // right: $sidebar-width-xlarge + 15;
      }
    }
  }
}

.search-results {
  padding: 10px 0 5px;
  min-height: calc(100vh - #{$header-height});
  overflow-y: auto;
  width: 100%;
  background-color: $white;
  border: 1px solid $light-grey;
  border-top: none;
  text-transform: capitalize;
  border-radius: 0px !important;
  -webkit-box-shadow: $container-card-shadow;
  box-shadow: $container-card-shadow;

  @media #{$large-up} {
    height: auto !important;
    max-height: 480px;
    min-height: initial;
  }

  & * {
    height: auto !important;
  }

  &__section {
    padding: 0 15px;

    &-title {
      padding: 5px 0px;
      margin: 0;
      border-bottom: 1px solid $light-grey;
      color: $grey;
    }
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}

.search-result {
  $thumbnail-width: 50px;
  padding: 10px 10px;
  @include clearfix();
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;

  &:hover {
    background-color: #f7f7f7;
    border-radius: 3px;
    cursor: pointer;
  }

  @media #{$xlarge-up} {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  @media screen and (min-width: 113.75em) {
    -ms-flex-preferred-size: 33.3333%;
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  &__thumbnail {
    border: 1px solid $light-grey;
    -webkit-border-radius: 100%;
    float: left;
    border-radius: 3px;
    width: $thumbnail-width;
    height: $thumbnail-width !important;
    background-size: contain;
  }

  &__details {
    padding-left: $thumbnail-width + 10;
  }
}

.ais-PoweredBy {
  &__root {
    padding: 0 15px;
    width: 100px;
  }

  &__searchBy {
    font-size: 0.55em;
    *padding-left: 12px;
  }
}

@media (max-width: em(375)) {
  .header {
    border-bottom: 1px solid $smoke;
  }
}

input[placeholder] {
  text-overflow: ellipsis;
  padding-right: 30px;
}
::-moz-placeholder {
  text-overflow: ellipsis;
  padding-right: 30px;
} /* firefox 19+ */
input:-moz-placeholder {
  text-overflow: ellipsis;
  padding-right: 30px;
}
