.sidebar {
  width: $sidebar-width-large;
  height: 100%;
  overflow-y: auto;
  background-color: $white;
  overflow-x: visible;
  position: fixed;
  left: 0;
  top: $header-height;
  padding: 25px 40px 0;
  height: calc(100% - #{$header-height});
  transform: translateX(-100%);
  transition: transform 0.2s;
  z-index: 200;
  @media #{$medium-up} {
    transform: initial;
    box-shadow: none;
  }
  &.open {
    transform: translateX(0);
  }
  /**
     *
     */
  .content.playing & {
    padding-bottom: $player-height;
  }
  &__closer {
    position: absolute;
    top: -2.5px;
    right: 10px;
    font-size: 1.5em;
    opacity: 0.3;
    z-index: 10;
    transition: opacity 0.2s;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    @media #{$large-up} {
      display: none;
    }
  }
  &--secondary {
    top: 0;
    flex-basis: auto;
    overflow-y: auto;
    width: 100%;
    right: 0;
    left: initial;
    transform: translateX(100%);
    transition: transform 0.2s;
    height: 100%;
    z-index: 4000;
    padding-top: 20px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);

    &.open {
      transform: translateX(0);
    }
    @media #{$medium-up} {
      width: $sidebar-width-xlarge;
    }
    @media #{$large-up} {
      top: $header-height;
      transform: initial;
      box-shadow: initial;
    }
  }
  &--custom-scroll {
    padding: 0;
    @media #{$large-up} {
      padding-bottom: $header-height;
      .content.playing & {
        padding-bottom: $player-height + $header-height;
      }
    }
    & .scroller {
    }
  }
}

.nav {
  overflow-y: auto;
}

.nav_section {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 10px;
  }
  li {
    line-height: 1.45;
    &:first-of-type {
      margin-bottom: 5px;
      line-height: 1;
      font-size: 1.5em;
    }
    &:hover a {
      color: $red;
      transform: translate(0%);
    }
    a {
      color: $grey;
      padding-left: 5px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      position: relative;
      transform: translate(-13px);
      transition: transform 0.2s;
      outline: none !important;
      border: none !important;
      &:before {
        float: left;
        margin-top: 5px;
        display: block;
        position: relative;
        @include css-triangle(5px, $red, "left");
      }
      &.active {
        color: $red;
        transform: translate(0);
      }
    }
  }
}

.downloads {
  display: flex;
  justify-content: flex-start;
  align-items: center; // outline: 1px solid red;
  margin: 20px;
  a {
    &:last-child {
      margin-left: 10px;
    }

    img {
      max-width: 300px;
      height: 40px;
    }
  }
}

@media (max-width: 320px) {
  .downloads {
    flex-wrap: wrap;

    a {
      margin-bottom: 30px;
    }
  }
}

.heading {
  text-align: start;
  margin-bottom: 10px;
  margin-left: 20px;
  color: $red;
  text-transform: capitalize;
}

.terms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  margin: 20px;

  a {
    list-style: none;
    font-size: 11px;
    color: rgb(155, 154, 154);
    text-transform: capitalize;
    margin: 0px 5px;

    &:hover {
      color: $red;
    }
  }
}

.ads {
  margin-left: 5px !important;
  margin-bottom: 20px;
  width: 250px !important;
  a {
    display: block;
    color: rgb(155, 154, 154);
    text-transform: capitalize;
    margin-left: 20px !important;
    transition: 0.3s ease;

    &:hover {
      color: red;
    }
  }
}
