.tabview {
  width: 100%;
  padding: 20px 15px;
  border: 1px solid #dedede;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.125);

  &__labels {
    list-style: none;
    margin: 0;
    height: 35px;
    width: 100%;
    *background-color: lighten($grey, 40%);

    li {
      border-left: none;
      cursor: pointer;
      text-align: center;
      min-width: 100px;
      list-style: none;
      padding: 10px 15px 25px 0;
      display: inline-flex;
      align-items: center;
      border-radius: 5px 5px 0 0;
      margin-right: 10px;
      align-content: center;
      height: 100%;
      *background-color: lighten($grey, 40%);
      transition: background-color 0.3s;
      position: relative;
      vertical-align: top;
      font-size: 1.4375em;

      /*            &::before{
                background-color: $red;
                opacity: 0;
                content: '';
                position: absolute;
                display  : block;
                width  : 100%;
                height   : 98%;
                left: 0;
                top:1%;
                border-radius: inherit;
                z-index: 0;
                transition: opacity .3s;
            }*/

      &.active {
        color: $grey;
        &::before {
          opacity: 1;
        }

        /*                &::after{
                    content: '';
                    position: absolute;
                    display  : block;
                    bottom: -10px;
                    @include css-triangle(6px,$red,'top');
                }*/
      }

      span {
        position: relative;
        z-index: 1;
      }
    }

    &-icon {
      font-size: 1.2em;
      position: relative;
      top: 2px;
      margin-right: 10px;
    }
  }

  &__tabs {
    /*padding: 20px 0;*/
    *margin: 0 -10px;
    border-top: 1px solid #ddd;
  }
}
