@import "./_em.scss";

@media #{$xlarge-up} {
  .row {
    max-width: 80rem;
  }
}

body {
  background-color: $white;
  color: $grey;
  overflow-y: auto;

  /*    font-size: .9em;

      @media #{$xlarge-up}{
          font-size:1em;
      }*/
}

.button {
  background-color: $red;
  height: em(30);
  border-radius: em(3);
  margin-right: em(10);
  // outline: 1px solid red;
  // margin-top: 50px;
  &.small {
    padding: em(5) em(7);
  }

  &:hover,
  &:active {
    background-color: desaturate($red, 30%);
    outline: none !important;
  }

  &:focus {
    background-color: $red;
    outline: none !important;
  }

  &:active {
    /*transform: translate(1%,-1%);*/
    box-shadow: 0px -1px 5px -5px rgba(#000, 1);
  }

  i {
    font-size: 1.2em;
    margin-right: em(5);
  }
}

.dark-text {
  color: $dark-grey;
}

.mb0 {
  margin-bottom: 0;
}

.pd0 {
  padding: 0;
}

.bold-text {
  font-weight: 900;
}

.headline {
  color: desaturate($red, 20%);
}

.content {
  width: 100%;
  display: flex;
  height: 100%;
  *padding: em(30px) 0 0 em(40px);
  &.playing {
    // *padding: 30px 0 $player-height 40px;
    .main__content {
      padding-bottom: $player-height + 20;
    }
  }
}

.main {
  width: 100%;
  margin: $header-height 0 0 0;
  @media #{$medium-up} {
    margin: $header-height 0 0 $sidebar-width-large;
  }

  @media #{$large-up} {
    margin: $header-height $sidebar-width-xlarge 0 $sidebar-width-large;
  }

  &__content {
    padding: em(15);
  }
}

.main__content {
  &-wrapper {
    & > div {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }
}

.card-panel {
  display: flex;
  margin: 0 -15px;
  flex-flow: row wrap;
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}

.collapse {
  margin-bottom: 30px;

  &.slide {
    // overflow: hidden;
    .collapse__list {
      display: inline-block;
      vertical-align: top;
      padding-right: 20px;
    }

    .slider-control {
      position: relative;
      top: -3px;
      width: 10px;
      margin: 0;
      margin-left: 5px;
      line-height: 0 !important;
      padding: 10px;
      height: 10px;
      float: right;
      border: 1px solid $light-grey;
      background-color: $light-grey;
      display: inline-block;

      i {
        line-height: 0.15;
        color: $white;
        position: relative;
        left: -2px;
        top: -1px;
      }
    }
  }

  @media #{$large-up} {
    padding: 20px 20px 0px 20px;
    border: 1px solid transparent;
  }

  &__title {
    color: $red;
    margin: 0;
    padding-bottom: 10px;
    margin-bottom: 5px;
    line-height: 1;
    text-transform: capitalize;
    font-family: "Damain", var(--defaultFont);
  }

  &__list {
    margin: 0;
    list-style: none;

    &.slick-active {
      @media #{$large-up} {
        margin-right: 20px;
        padding-right: 0 !important;
      }
    }

    &-item {
      list-style: none;
      &:last-of-type {
        .media-card {
          margin-bottom: 0;
        }
      }
    }
  }
}

.slick-arrow {
  display: none !important;
}

.downloads {
  text-align: center;
  p {
    color: $red;
  }

  &__list {
    text-align: center;
    display: inline-block;
    font-size: 2rem;

    li {
      margin-left: 0;

      &:first-of-type {
        margin-right: 20px;
      }

      a {
        color: $light-grey !important;

        &:hover {
          color: $grey !important;
        }
      }
    }
  }
}

.spinloader,
.spinloader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.spinloader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(128, 128, 128, 0.2);
  border-right: 1.1em solid rgba(128, 128, 128, 0.2);
  border-bottom: 1.1em solid rgba(128, 128, 128, 0.2);
  border-left: 1.1em solid #808080;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.seperator {
  background: #ddd;
  width: 300px;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.nav-ads {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  line-height: 49px;
  width: 350px !important;
  margin-left: auto;
  padding: 0px 20px 0px 20px;
  a {
    color: lighten($color: #000, $amount: 20);
    margin: 0px 1rem;
    text-transform: capitalize;
    font-size: em(15px);
    margin: 0 !important;
    &:first-child {
      margin-right: em(10) !important;
    }
  }
}

@media (max-width: em(1024)) {
  .nav-ads {
    display: none;
  }
  .collapse {
    padding: 20px 30px 0px 30px;
    margin-bottom: 20px;
  }
}

.search {
  // outline: 1px solid red;
  margin-top: em(3);
}

.loader {
  .image-loader {
    width: 250px !important;
    height: 250px;
    animation: filler 1s linear infinite forwards;
    background: #f6f7f9;
    background-image: linear-gradient(
      to right,
      #f6f7f9 0%,
      #e9ebee 20%,
      #f6f7f9 40%,
      #f6f7f9 100%
    );
    background-repeat: no-repeat;
    position: relative;
  }
}

.card__container {
  .image-loader {
    animation: filler 1s linear infinite forwards;
    background: #f6f7f9;
    background-image: linear-gradient(
      to right,
      #f6f7f9 0%,
      #e9ebee 20%,
      #f6f7f9 40%,
      #f6f7f9 100%
    );
    background-repeat: no-repeat;
    position: relative;
  }
}
