/** colors **/
$black: #2d2d2d;
$red: #d90808;
$yellow: #ffcc05;
/*$white : #fcfbf9;*/
$white: #fff;
$accent: #ea7812;
$light-grey: #dedede;
$grey: #888;
$dark-grey: #767675;

$fb-blue: #3b5999;
$tw-blue: #55acee;
$ln-blue: #0077b5;
$gp-brown: #dd4b39;

/** colors **/
/*$black : #fff;
$red : #d90808;
$yellow : #000;
$white : #000;
$accent : #ea7812;
$grey : #888;
$dark-grey : darken(#fff,10%);*/

/** Dimensions **/
$header-height: 50px;
$header-offset: $header-height + 10;
$sidebar-width-large: 250px;
$sidebar-width-xlarge: 350px;
$player-height: 100px;

/** General Styles **/
$container-card-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

%pseudo-block {
  content: "";
  display: block;
}
